{{template "layout" .}}

    {{define "title"}}
        Home
    {{end}}

    {{define "css"}}
        <style>
            .form-control::placeholder {
                color: gray;
            }
            
            .card {
                cursor: pointer;
                transition: transform 0.2s;
            }
            
            .card:hover {
                transform: translateY(-5px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }
            
            .like-button {
                color: #fff;
                border: none;
                background: transparent;
                display: flex;
                align-items: center;
                gap: 5px;
                transition: all 0.2s;
            }
            
            .like-button:hover {
                color: #ff6b6b;
            }
            
            .like-button.active {
                color: #ff6b6b;
            }
            
            .card-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .likes-count {
                font-size: 14px;
            }

            .post-time {
                color: #999 !important;
                font-size: 14px; 
                font-weight: normal;
            }
        </style>
    {{end}}


    {{define "content"}}
        <div class="container">
            <div class="col d-flex flex-column justify-items-center w-75 mx-auto">
                <form action="/new-post" class="form-group mx-auto w-100 d-flex flex-column" method="post">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <textarea name="block-content" class="form-control bg-dark text-white" rows="10"
                        placeholder="What's on your mind, นิว?" required></textarea>
                    <input type="submit" id="submit-new-block" value="Submit" class="btn btn-primary mt-3 ms-auto">
                </form>

                <div class="mt-3"></div>
                
                {{$blocks := index .Data "blocks"}}
                {{$user := index .Data "user"}}
                {{$csrf := .CSRFToken}}
                {{range $blocks}}
                    <div class="card mt-3 bg-dark text-white" onclick="openPost({{.ID}})">
                        <div class="card-header d-flex" style="gap: 10px;">
                            <label for="">{{.User.Name}} <span class="post-time">{{humanTime .CreatedAt}}</span></label>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{.Content}}</p>
                        </div>
                        <div class="card-footer">
                            {{if .LikeByCurrentUser}}
                                <form action="/remove-like/{{.ID}}/{{$user.ID}}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{$csrf}}">
                                    <button class="like-button" type="submit">
                                        <i class="fa-solid fa-heart"></i>
                                        <span>Like</span>
                                    </button>
                                </form>
                            {{else}}
                                <form action="/insert-like/{{.ID}}/{{$user.ID}}" method="post">
                                     <input type="hidden" name="csrf_token" value="{{$csrf}}">
                                    <button class="like-button" type="submit">
                                        <i class="fa-regular fa-heart"></i>
                                        <span>Like</span>
                                    </button>
                                </form>
                            {{end}}
                            <span class="likes-count" id="likes-count-1">{{.LikeCount}} likes</span>
                        </div>
                    </div>
                {{end}}

                <div class="mt-3"></div>
            </div>
        </div>
    {{end}}

    {{define "js"}}
        <script>
            function openPost(postId) {
             window.location.href = `/read-block/${postId}`;
        }
        
        function likePost(event, postId) {
            event.stopPropagation();
            
            const likeButton = event.currentTarget;
            const likesCountElement = document.getElementById(`likes-count-${postId}`);
            
            if (likeButton.classList.contains('active')) {
                likeButton.classList.remove('active');
                likeButton.querySelector('i').className = 'fa-regular fa-heart';
            } else {
                likeButton.classList.add('active');
                likeButton.querySelector('i').className = 'fa-solid fa-heart';
            }
        }
        </script>
    {{end}}
